<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<item label="Xterm">
			<action name="Execute">
				<execute>xterm</execute>
			</action>
		</item>
		<menu id="1" label="Development">
			<item label="GDB">
				<action name="Execute">
					<execute>xterm -e gdb</execute>
				</action>
			</item>
			<item label="IDLE (Python IDE)">
				<action name="Execute">
					<execute>idle</execute>
				</action>
			</item>
			<item label="Python">
				<action name="Execute">
					<execute>xterm -e python</execute>
				</action>
			</item>
			<item label="Python (v2.7)">
				<action name="Execute">
					<execute>xterm -e python2.7</execute>
				</action>
			</item>
		</menu>
		<menu id="2" label="Editors">
			<item label="Vim">
				<action name="Execute">
					<execute>xterm -e vim</execute>
				</action>
			</item>
		</menu>
		<menu id="18" label="Games">
			<menu id="9" label="Adventure">
				<item label="Sclient">
					<action name="Execute">
						<execute>sclient</execute>
					</action>
				</item>
			</menu>
			<menu id="10" label="Arcade">
				<item label="PacMan">
					<action name="Execute">
						<execute>pacman</execute>
					</action>
				</item>
			</menu>
		</menu>
		<menu id="7" label="Multimedia">
			<item label="ALSA mixer">
				<action name="Execute">
					<execute>xterm -e alsamixer</execute>
				</action>
			</item>
			<item label="Qt V4L2 test Utility">
				<action name="Execute">
					<execute>qv4l2</execute>
				</action>
			</item>
			<item label="Qt V4L2 video capture utility">
				<action name="Execute">
					<execute>qvidcap</execute>
				</action>
			</item>
		</menu>
		<menu id="5" label="Network">
			<item label="Avahi SSH Server Browser">
				<action name="Execute">
					<execute>bssh</execute>
				</action>
			</item>
			<item label="Avahi VNC Server Browser">
				<action name="Execute">
					<execute>bvnc</execute>
				</action>
			</item>
			<item label="FireFox">
				<action name="Execute">
					<execute>firefox</execute>
				</action>
			</item>
			<item label="TkVNC">
				<action name="Execute">
					<execute>xterm -e tkvnc</execute>
				</action>
			</item>
		</menu>
		<menu id="19" label="Shells">
			<item label="GIT">
				<action name="Execute">
					<execute>xterm -e git</execute>
				</action>
			</item>
			<item label="ST">
				<action name="Execute">
					<execute>st</execute>
				</action>
			</item>
			<item label="urxvt">
				<action name="Execute">
					<execute>urxvt</execute>
				</action>
			</item>
			<item label="urxvt (client)">
				<action name="Execute">
					<execute>urxvtc</execute>
				</action>
			</item>
			<item label="urxvt (tabbed)">
				<action name="Execute">
					<execute>urxvt-tabbed</execute>
				</action>
			</item>
			<item label="UXTerm">
				<action name="Execute">
					<execute>uxterm</execute>
				</action>
			</item>
			<item label="Vifm">
				<action name="Execute">
					<execute>xterm -e vifm</execute>
				</action>
			</item>
			<item label="Xterm">
				<action name="Execute">
					<execute>xterm</execute>
				</action>
			</item>
		</menu>
		<menu id="37" label="System">
			<menu id="36" label="Settings">
				<item label="Openbox Configuration Manager">
					<action name="Execute">
						<execute>obconf</execute>
					</action>
				</item>
				<item label="Tint2 Settings">
					<action name="Execute">
						<execute>tint2conf</execute>
					</action>
				</item>
			</menu>
			<item label="Avahi Zeroconf Browser">
				<action name="Execute">
					<execute>avahi-discover</execute>
				</action>
			</item>
			<item label="Htop">
				<action name="Execute">
					<execute>xterm -e htop</execute>
				</action>
			</item>
			<item label="Openbox Menu Editor">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="pstree">
				<action name="Execute">
					<execute>xterm -e /usr/bin/pstree.x11</execute>
				</action>
			</item>
			<item label="pstree">
				<action name="Execute">
					<execute>xterm -e pstree</execute>
				</action>
			</item>
			<item label="pstree">
				<action name="Execute">
					<execute>xterm -e pstree.x11</execute>
				</action>
			</item>
			<item label="Tint2">
				<action name="Execute">
					<execute>tint2</execute>
				</action>
			</item>
			<item label="Top">
				<action name="Execute">
					<execute>xterm -e top</execute>
				</action>
			</item>
		</menu>
		<menu id="38" label="Utilities">
			<item label="Console Matrix (Text)">
				<action name="Execute">
					<execute>xterm -e cmatrix</execute>
				</action>
			</item>
			<item label="Console Matrix (Virtual Console)">
				<action name="Execute">
					<execute>xterm -e cmatrix -l</execute>
				</action>
			</item>
			<item label="Console Matrix (X11)">
				<action name="Execute">
					<execute>cmatrix -x</execute>
				</action>
			</item>
			<item label="Info">
				<action name="Execute">
					<execute>xterm -e info</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
			<separator/>
			<item label="Exit">
				<action name="Exit"/>
			</item>
		</menu>
	</menu>
</openbox_menu>
